.player {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.15);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  align-items: center;

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
  }

  span {
    margin-left: 16px;
    font-size: 32px;
  }
}


.player-active {
  background-color: orange !important;
}